# Ignore compiled binaries
*.exe
*.out

# Ignore generated PDFs
*.pdf
!examples/output/*.pdf

# IDE settings (optional)
.vscode/
.idea/

# MacOS Finder cruft
.DS_Store

# coverage
coverage.out
coverage.html